.select-exercise-outer {
    padding: 20px 10px;
}

.exercise-tile-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 15px;
    /* border: solid rgba(32, 0, 84, .25) .2px;
    border-radius: 6px; */
}
.exercise-title {
    padding-left: 10px;
    color: rgba(32, 0, 84);
}

.selected-ids {
    padding-left: 15px;
    color: rgba(32, 0, 84);
}
.ex-search-container {
    padding-bottom: 20px;

}
.clickedExercises {
    border: solid rgba(32, 0, 84, .25) .2px;
    border-radius: 6px;

}
.remove-id-btn{
    border: solid rgba(32, 0, 84, .25) .2px;
    border-radius: 6px;
    padding: 5px;
    background-color: lightgrey;


}
.confirm-ex-box {
    display: grid;
    justify-items: end;
}
.confirm-ex-button {
    color: lightgrey;
    background-color: #200054;
    font-size: 17px;
    border: 1.5px #200054;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 15px;
  }
.selected-ids {
    font-weight: bold;
}

.paginate {
    white-space: nowrap;
    padding: 20px 15px 30px 15px;
}
.pagination {
    list-style: none; 
    padding: 0;
    margin: 0;
}
.page-item {
    display: inline-block;
    margin-right: 10px; 
 
}
.page-item button {
    background-color: rgba(80,77,111, .75);
    color: lightgrey;
}