html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.login-root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://nespinosaportfoliobucket.s3.amazonaws.com/sidelyingScapula.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.login-container {
    background-color: rgba(255,255,255, .75);
    border-color: white;
    border-radius: 12px;
}

.login-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    gap: 15px;
    width: 300px;
}

.label-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.text-field {
    height: 25px;
    padding-left: 10px;
    border-radius: 4px;
}

.demoButton {
    color: lightgrey;
    background-color: #200054;
    font-size: 17px;
    border: 1.5px #200054;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    margin-top: 10px;
}

.demoButton:active {
    background-color: lightgrey;
    border: 1.5px solid #200054;
    color: #200054;
}

.login-button2 {
    color: #200054;
    background-color: lightgrey;
    font-size: 17px;
    border: 1.5px solid #200054;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: 35px;
    margin-top: 10px;
}

button.login-button2:hover {
    background-color: #200054;
    color: lightgrey;
}
