.ex-rx-title {
    color: lightgrey;
    display: grid;
    justify-items: center;
    border: solid rgba(32, 0, 84, .25) .2px;
    border-radius: 6px;
    background-color: rgba(80,77,111, .5);
}

.ex-rx-info {
    color: lightgrey;
    font-weight: bold;
}

.ex-rx-button-container {
    display: grid;
    justify-items: center;

}

.exRx-button {
    color: lightgrey;
    font-size: 17px;
    border: 1.5px #200054;
    border-radius: 6px;
    background-color: rgba(32, 0, 84, .7);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    margin-top: 10px;
    /* border: solid rgba(32, 0, 84, .85) .2px;
    border-radius: 6px;
    background-color: lightgrey; */
}